@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Lato:wght@300&display=swap');
@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*{
    margin: 0;
    padding: 0;
    .mySlides {display: none}
}
body {
    background-color: #D4E7F6;
    font-family: 'Lato', sans-serif;
}

.navbar {
    clear:both;
    overflow:auto;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    width: 100%;
    padding-top: 10px;
    padding-bottom:10px;
}
li {
    float: right;
    display: inline-block;
}

li a {
    color: #274C77;
    text-align: center;
    vertical-align: middle;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.index {
    float: left;
    color: #6096BA;
    font-size: 1.1em;
    font-weight: bolder;
}
.header {
    height: 100%;
    width: 100%;
    background-color: #A3CEF1;
    background-size: cover;  
    padding-top: 15vw;
    padding-bottom: 18vw;
    position: relative;
}

.header h1, h2, h3 {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Lato', sans-serif;
    color: #274C77;
    text-align: center;
}

.header h1{
    font-size: 6em;
    font-weight: bolder;
}

.header h2{
    font-size: 2em;
    font-weight: bold;
}

.header h3{
    font-size: 1.5em;
    font-weight: normal;
}



/* index.html */
.projects {
    height: 100%;
    width: 100%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.projects h4{
    font-size: 2em;
    font-weight: bold;
    margin-left: 6%;
    font-family: 'Lato', sans-serif;
    color: #274C77;
    padding-bottom: 20px;
}

.projects img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 110%;
    opacity: 0;
    transition: .5s ease;
    background-color: #D4E7F6;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .projText {
    color: #274C77;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Lato', sans-serif;
  }

.w3-display-container {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}


/* about.html */
.aboutHeader {
    padding-left: 10%;
    padding-right: 4%;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.about {
    height: 100%;
    width: 100%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.about h4{
    font-size: 2em;
    font-weight: bold;
    margin-left: 6%;
    font-family: 'Lato', sans-serif;
    color: #274C77;
}

.about h5{
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 6%;
    font-family: 'Lato', sans-serif;
    color: #274C77;
}

.about h6{
    font-size: 1em;
    font-weight: normal;
    margin-left: 6%;
    font-family: 'Lato', sans-serif;
    color: #274C77;
}

.about p{
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    margin-left: 6%;
    margin-right: 6%;
    color: #102134;
}

p.indent {
    text-indent: 1.8em;
}

.aboutHeader img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* quarmate.html */
.projectHeader {
    height: 100%;
    width: 100%;
    background-color: #A3CEF1;
    background-size: cover;  
    padding-top: 5vw;
    padding-bottom: 4vw;
    position: relative;
}

.projectHeader h1, h2, h3 {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Lato', sans-serif;
    color: #274C77;
    text-align: left;
}

.projectHeader h1{
    font-size: 6em;
    font-weight: bolder;
}

.projectHeader h2{
    font-size: 2em;
    font-weight: bold;
}

.projectHeader h3{
    font-size: 1.5em;
    font-weight: normal;
}

.projectHeader p{
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    color: #102134;
    margin-left: 15%;
    margin-right: 15%;
}

table, th, td {
    border: 1px solid #A3CEF1;
    border-collapse: collapse;
    margin-left: 6%;
}

p.doubleIndent {
    text-indent: 3.6em;
}

.prototype {
    margin-left: 3%;
}

.scenario {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.bolded { 
    font-weight: bolder; 
}


/*scuConnect.html*/
.about h6{
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    margin-left: 6%;
    margin-right: 6%;
    color: #274C77;
}

p.shifted {
    margin-left: 3.9em;
}

.outline img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*ibm slideshow*/
/*----------------------------------------------------------------------------------------------------------------------*/
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #6096BA;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #6096BA;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /*ibm video*/
  video {
    display: block;
    margin: auto;
  }

  /*hci final report*/
  .pdf-container {
      display: flex;
      justify-content: center;   /* centers horizontally */
      margin-top: 20px;
    }
